.DS_Store
.idea
.thumbs.db
node_modules/
/vendor
/dist
/deploy
/.dev
/test/unit/coverage
/test/e2e/reports
/config/dev.env.js
/cordova/platforms
/cordova/plugins
/docker-compose.yml
/*node_modules*
npm-debug.log*
selenium-debug.log

thumbs.db
!.gitkeep
