.slide-leave-active, .slide-enter-active
  transition: .2s
.slide-enter
  transform: translate(100%, 0)
  opacity: 0
.slide-leave-to
  transform: translate(-100%, 0)
  opacity: 0

.layout-router
  &.slide-left-enter
    position absolute !important
    opacity 0
    transform translate(100%, 0)
  &.slide-left-leave-to
    position absolute !important
    opacity 0
    transform translate(-100%, 0)
