.slide-leave-active, .slide-enter-active
  position: absolute
  transition: .2s
.slide-enter
  transform: translate(100%, 0)
  opacity: 0
.slide-leave-to
  transform: translate(-100%, 0)
  opacity: 0
