var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  API: {
    PROTOCOL: '"https"',
    DOMAIN: '"quasar.phpzm.rocks"',
    PATH: '"/api/v1"',
    PORT: '""'
  },
  DEV: true
})
