
.q-btn
  &.bg-white .q-btn-inner
    color #515151
    i
      color #515151
  &.btn-x-small
    padding 1px
    width 24px
    min-width 24px
    height 24px
    min-height 24px
    i.q-icon
      font-size 14px
.white
  background white

.primary
  background $primary
  color white
.secondary
  background $secondary
  color white
.tertiary
  background $tertiary
  color white

.neutral
  background $neutral
  color #515151
.positive
  background $positive
  color white
.negative
  background $negative
  color white
.info
  background $info
  color white
.warning
  background $warning
  color #515151

.q-btn.rotate > .q-btn-inner > i, .rotate .q-btn > .q-btn-inner > i
  transition transform .6s
  transform rotate(0deg)
.q-btn.rotate:hover > .q-btn-inner > i, .rotate .q-btn:hover > .q-btn-inner > i
    transform rotate(360deg)
