
.info
  color white
  &.orange
    background orange
    color #ffffff
    &.pulse
      animation pulse-orange 3s infinite
  &.red
    background #ec2121
    color #ffffff
    &.pulse
      animation pulse-red 3s infinite
  &.yellow
    background #fbf501
    color #000000
    &.pulse
      animation pulse-yellow 3s infinite
  &.green
    background #4eb32f
    color #ffffff
    &.pulse
      animation pulse-green 3s infinite
  &.blue
    background #438cb3
    color #ffffff
    &.pulse
      animation pulse-blue 3s infinite
  &.black
    background #000000
    color #ffffff
    &.pulse
      animation pulse-black 3s infinite
  &.grey
    background #8a8a8a
    color #ffffff
    &.pulse
      animation pulse-grey 3s infinite

@keyframes pulse-orange {
  0% {
    box-shadow 0 0 0 0 rgba(220, 217, 31, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(220, 217, 31, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(220, 217, 31, 0)
  }
}

@keyframes pulse-red {
  0% {
    box-shadow 0 0 0 0 rgba(139, 0, 0, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(139, 0, 0, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(139, 0, 0, 0)
  }
}

@keyframes pulse-yellow {
  0% {
    box-shadow 0 0 0 0 rgba(220, 217, 31, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(220, 217, 31, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(220, 217, 31, 0)
  }
}

@keyframes pulse-green {
  0% {
    box-shadow 0 0 0 0 rgba(78, 179, 47, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(78, 179, 47, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(78, 179, 47, 0)
  }
}

@keyframes pulse-blue {
  0% {
    box-shadow 0 0 0 0 rgba(67, 140, 179, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(67, 140, 179, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(67, 140, 179, 0)
  }
}

@keyframes pulse-black {
  0% {
    box-shadow 0 0 0 0 rgba(0, 0, 0, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(0, 0, 0, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(0, 0, 0, 0)
  }
}

@keyframes pulse-grey {
  0% {
    box-shadow 0 0 0 0 rgba(138, 138, 138, 0.7)
  }
  70% {
    box-shadow 0 0 0 30px rgba(138, 138, 138, 0.05)
  }
  100% {
    box-shadow 0 0 0 0 rgba(138, 138, 138, 0)
  }
}
