
.clear-fix
  clear both

@media all and (max-width 480px)
  .hidden-tiny
    display none
@media all and (max-width 768px)
  .hidden-small
    display none
@media all and (max-width 1024px)
  .hidden-medium
    display none
@media all and (max-width 1200px)
  .hidden-big
    display none

@media all and (min-width 480px)
  .show-tiny
    display none
@media all and (min-width 768px)
  .show-small
    display none
@media all and (min-width 1024px)
  .show-medium
    display none
@media all and (min-width 1200px)
  .show-big
    display none
