
.clear-fix
  clear both

@media all and (max-width 480px)
  .hide-tiny
    display none
@media all and (max-width 768px)
  .hide-small
    display none
@media all and (max-width 1024px)
  .hide-medium
    display none
@media all and (max-width 1200px)
  .hide-big
    display none

.show-tiny
  display none
.show-small
  display none
.show-medium
  display none
.show-big
  display none
@media all and (max-width 480px)
  .show-tiny
    display inherit
@media all and (max-width 768px)
  .show-small
    display inherit
@media all and (max-width 1024px)
  .show-medium
    display inherit
@media all and (max-width 1200px)
  .show-big
    display inherit
