// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary = #227DD2
$secondary = #26A69A
$tertiary = #555

$neutral = #E0E1E2
$positive = #388E3C
$negative = #DB2828
$info = #7ca2ec
$warning = #F2C037

$light = #f4f4f4
$dark = #333
$faded = #777

$text-color = lighten(black, 17%)
$background-color = white

$link-color = lighten($primary, 25%)
$link-color-active = $primary

$layout-aside-left-width = 280px

$app-layout-drawer = #ffffff

$app-layout-drawer-logo = #f7f7f7
$app-layout-drawer-logo-border-bottom = 1px #dddddd solid

$app-layout-breadcrumb-wrapper = #ffffff

$app-drawer-menu-color = #313131
$app-drawer-menu-icon = #777777

$app-drawer-menu-active = #b5b5b5
$app-drawer-menu-active-color = #000
$app-drawer-menu-active-icon = #565656

$app-drawer-menu-item-open = #fafafa
$app-drawer-menu-item-shadow = inset 1px 1px 3px 1px rgba(0, 0, 0, 0.16), inset 1px -1px 3px 1px rgba(0, 0, 0, 0.1)
$app-drawer-menu-item-border = #b5b5b5
