
.white
  background white

.primary
  background $primary
  color white
.secondary
  background $secondary
  color white
.tertiary
  background $tertiary
  color white

.neutral
  background $neutral
  color #515151
.positive
  background $positive
  color white
.negative
  background $negative
  color white
.info
  background $info
  color white
.warning
  background $warning
  color #515151
