
.grid
  display flex
  min-width 260px
  width 100%
  .cell
    padding 5px
    width 100%
    display block
    .primary-label
      display block
      text-align left
      font-size 14px
      padding 2px 0 4px 0
      color #474747
      margin 0 0 5px 0

.grid
  .cell
    for width in (1..20)
      &.xs-{width * 5}
        max-width width * 5%
        min-width width * 5%

@media (max-width 768px)
  .grid
    flex-wrap wrap
    flex-flow row wrap
    .cell
      max-width 100% !important
      min-width 100% !important
      width 100% !important

@media (min-width 768px)
  .grid
    .cell
      for width in (1..20)
        &.has-{width * 5}
          max-width width * 5%
          min-width width * 5%
