
body
  font-family play
  background #eaeaea

hr
  margin 20px 0
  border 0
  height 1px
  background-image linear-gradient(to right, rgba(0, 0, 0, 0.04), #dddddd, #dddddd, rgba(0, 0, 0, 0.04))

hr.light
  margin 10px 0
